In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import pandas as pd

In [64]:
df = pd.read_excel("tours-tags.xlsx")
df.head()

,Sights & Landmarks,Sacred & Religious Sites,"Architecture, Art, History, & Museums",Sports & Outdoor Activities,Water & Seaside Sports & Activities,"Bars, Clubs, & Pubs","Fun, Games, & Entertainment Centers",Gift & Specialty Shops,Military Bases & Facilities,Places in the City,Nature & Wildlife Areas,Observation Decks & Towers
0,Sights & Landmarks,Sacred & Religious Sites,"Architecture, Art, History, & Museums",Sports & Outdoor Activities,Water & Seaside Sports & Activities,"Bars, Clubs, & Pubs",Fun & Games,Gift & Specialty Shops,Military Bases & Facilities,City Place,Nature & Wildlife Areas,Observation Decks & Towers
1,Points of Interest & Landmarks,Sacred,Architecture,Water Sports,Snorkeling/Diving,Bar/Club,Fun,Gift,Military Museum,City Places,UNESCO World Heritage-Natural Site,Lookout
2,Sight,Religious Site,Art,Water Sport,Snorkeling,Bars & Clubs,Game,Gifts,Military Museums,Government Building,UNESCO,Lookouts
3,Sights,Religious Sites,History,Sports,Diving,Club & Pub Tours,Games,Specialty Shop,Military Base,Government Buildings,World Heritage-Natural Site,Observation Deck
4,Landmark,Churches & Cathedrals,Museum,Sport,Water Sports,Bar,Casinos & Gambling,Specialty Shops,Military Bases,Featured Neighborhood,World Heritage-Natural Sites,Observation Decks

In [65]:
df.shape

(56, 12)

In [66]:
df.dtypes

Sights & Landmarks                       object
Sacred & Religious Sites                 object
Architecture, Art, History, & Museums    object
Sports & Outdoor Activities              object
Water & Seaside Sports & Activities      object
Bars, Clubs, & Pubs                      object
Fun, Games, & Entertainment Centers      object
Gift & Specialty Shops                   object
Military Bases & Facilities              object
Places in the City                       object
Nature & Wildlife Areas                  object
Observation Decks & Towers               object
dtype: object

In [57]:
df.name.value_counts().value_counts()

1    490
Name: name, dtype: int64

In [58]:
df = pd.read_excel("tours_and_attractions_review.xlsx")
df.head()

   user_id     username                             name  ratings
0        1  Erra Dacuba                1730 Jesuit House        4
1        1  Erra Dacuba                    Ace Water Spa        5
2        1  Erra Dacuba  Activefun Bonifacio High Street        5
3        1  Erra Dacuba                           Aduana        5
4        1  Erra Dacuba                     Agusan River        4

In [59]:
df.shape

(1195, 4)

In [60]:
df.dtypes

user_id      int64
username    object
name        object
ratings      int64
dtype: object

In [61]:
df.name.value_counts().value_counts()

2    216
3    140
4     63
5     18
1      1
Name: name, dtype: int64

In [62]:
df.user_id.value_counts().value_counts()

9     109
10     17
18      1
13      1
8       1
5       1
Name: user_id, dtype: int64

In [63]:
df.user_id.value_counts().mean()

9.192307692307692